body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    text-align: center;
    margin: auto;
}

li a {
    display: block;
    color: #d7a150;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

a:hover {
    transition: 0.5s cubic-bezier(0.42, 0.0, 0.58, 1.0);
}

dd {
    text-indent: 20px;
}
