extends layout

block header
    include header
block content
    div
        h2 Sehee Park
        dl
            dt 
                dd seheepark511@gmail.com
                dd (647)850-9230
                dd
                    a(href="https://www.linkedin.com/in/seheepark511/" target="_blank")|https://www.linkedin.com/in/seheepark511/

block footer
    include footer