extends layout

block footer
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand", href="/index") Home
    a(class="navbar-brand", href="/about") About Me
    a(class="navbar-brand", href="/projects") Projects
    a(class="navbar-brand", href="/services") Services
    a(class="navbar-brand", href="/contact") Contact Me