extends layout

block header
    include header
block content
  h2 Sehee Park
  ul
    li Over 7 years of IT work experience
    li Eager to Solve the problem
    li Active listening; understand the problems correctly and resolve definitively
block footer
    include footer